{
	admin off
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	log {
		format console
	}
}

lab.teixe.es, *.lab.teixe.es {
	@default host lab.teixe.es
	handle @default {
		reverse_proxy homepage:3000
	}

	@calibre host calibre.lab.teixe.es
	handle @calibre {
		reverse_proxy calibre-web-automated:8083
	}

	@book-downloader host book-downloader.lab.teixe.es
	handle @book-downloader {
		reverse_proxy cwa-book-downloader:8084
	}

	@openbooks host openbooks.lab.teixe.es
	handle @openbooks {
		reverse_proxy openbooks:80
	}

	@actual host actual.lab.teixe.es
	handle @actual {
		reverse_proxy actual-server:5006
	}

	@kitchenowl host kitchenowl.lab.teixe.es
	handle @kitchenowl {
		reverse_proxy kitchenowl:8080
	}

	@ping host ping.lab.teixe.es
	handle @ping {
		respond "pong!"
	}

	# Fallback for otherwise unhandled domains
	handle {
		abort
	}
}
