{
	admin off
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	log {
		format console
	}
}

lab.teixe.es, *.lab.teixe.es {
	@default host lab.teixe.es
	handle @default {
		reverse_proxy homepage:3000
	}

	@calibre host calibre.lab.teixe.es
	handle @calibre {
		reverse_proxy calibre-web-automated:8083 {
			header_up X-Scheme https
		}
	}

	@book-downloader host book-downloader.lab.teixe.es
	handle @book-downloader {
		reverse_proxy cwa-book-downloader:8084
	}

	@openbooks host openbooks.lab.teixe.es
	handle @openbooks {
		reverse_proxy openbooks:80
	}

	@actual host actual.lab.teixe.es
	handle @actual {
		reverse_proxy actual-server:5006
	}

	@kitchenowl host kitchenowl.lab.teixe.es
	handle @kitchenowl {
		reverse_proxy kitchenowl:8080
	}

	@mealie host mealie.lab.teixe.es
	handle @mealie {
		reverse_proxy mealie:9000
	}

	@ping host ping.lab.teixe.es
	handle @ping {
		respond "pong!"
	}

	# Mediaserver entries
	@jellyfin host jellyfin.lab.teixe.es
	handle @jellyfin {
		reverse_proxy mediaserver:8096
	}

	@jellyseerr host jellyseerr.lab.teixe.es
	handle @jellyseerr {
		reverse_proxy mediaserver:5055
	}

	@qbittorrent host qbittorrent.lab.teixe.es
	handle @qbittorrent {
		reverse_proxy mediaserver:8080
	}

	@sonarr host sonarr.lab.teixe.es
	handle @sonarr {
		reverse_proxy mediaserver:8989
	}

	@radarr host radarr.lab.teixe.es
	handle @radarr {
		reverse_proxy mediaserver:7878
	}

	@lidarr host lidarr.lab.teixe.es
	handle @lidarr {
		reverse_proxy mediaserver:8686
	}

	@bazarr host bazarr.lab.teixe.es
	handle @bazarr {
		reverse_proxy mediaserver:6767
	}

	@prowlarr host prowlarr.lab.teixe.es
	handle @prowlarr {
		reverse_proxy mediaserver:9696
	}

	# Fallback for otherwise unhandled domains
	handle {
		abort
	}
}
